<a href="https://colab.research.google.com/github/MiguelAngel9604/spark_exercice_1/blob/main/Spark_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pyspark
!pip install pyspark
# Pyspark stubs
!pip install pyspark-stubs

#Creating Spark session
#I decided to use pyspark and pandas to do all the exercices and advantage of both, I'll be using the same session in all the questions and logic.
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.functions import *
from pyspark.sql.types import StringType, IntegerType
import pyspark
from pyspark import SparkContext
from pyspark import SparkConf

spark = SparkSession.builder \
    .master("local") \
    .config("spark.sql.autoBroadcastJoinThreshold", -1) \
    .config("spark.executor.memory", "500mb") \
    .appName("Exercise1") \
    .getOrCreate()

In [8]:
import pyspark.sql.functions as f

df1 = spark.read.format("csv").option("header", "true").option("multiline", "true").load("/content/user_data-3 - Hoja 1.csv")
df1.show()

+------------------------------------------------------+
|id,ind,fname,lname,apartment,street,city,country,phone|
+------------------------------------------------------+
|                                           001,FN,John|
|                                           001,LN,Wick|
|                                  001,AD,22,Contine...|
|                                     001,PH,9999999999|
|                                       002,FN,Sherlock|
|                                          002,LN,Homes|
|                                  002,AD,44,Baker S...|
|                                     002,PH,8888888888|
|                                            003,FN,Ted|
|                                          003,LN,Lasso|
|                                  003,AD,AFC,Richmo...|
|                                     003,PH,3336669990|
|                                           004,FN,Star|
|                                           004,LN,Lord|
|                                               004,AD,|
|                                               004,PH,|
|                                          005,FN,Clark|
|                                               005,LN,|
|                                  005,AD,44,Daily P...|
|                                     005,PH,1234567890|
+------------------------------------------------------+
only showing top 20 rows

In [30]:


df = df1.withColumn("id", f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(0)) \
       .withColumn('ind', f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(1)) \
       .withColumn('fname', f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(2)) \
       .withColumn('lname', f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(3)) \
       .withColumn('apartment', f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(4)) \
       .withColumn('street', f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(5)) \
       .withColumn('city', f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(6)) \
       .withColumn('country', f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(7)) \
       .withColumn('phone',f.split(f.col("id,ind,fname,lname,apartment,street,city,country,phone"), ',').getItem(8))  
df_1 = df.drop(col("id,ind,fname,lname,apartment,street,city,country,phone"))
df_1.show()

+---+---+----------+-----------------+-----------+------+----+-------+-----+
| id|ind|     fname|            lname|  apartment|street|city|country|phone|
+---+---+----------+-----------------+-----------+------+----+-------+-----+
|001| FN|      John|             null|       null|  null|null|   null| null|
|001| LN|      Wick|             null|       null|  null|null|   null| null|
|001| AD|        22|Continental Hotel|   New York|   USA|null|   null| null|
|001| PH|9999999999|             null|       null|  null|null|   null| null|
|002| FN|  Sherlock|             null|       null|  null|null|   null| null|
|002| LN|     Homes|             null|       null|  null|null|   null| null|
|002| AD|        44|         Baker St|     London|    UK|null|   null| null|
|002| PH|8888888888|             null|       null|  null|null|   null| null|
|003| FN|       Ted|             null|       null|  null|null|   null| null|
|003| LN|     Lasso|             null|       null|  null|null|   null| null|
|003| AD|       AFC|         Richmond|     London|    UK|null|   null| null|
|003| PH|3336669990|             null|       null|  null|null|   null| null|
|004| FN|      Star|             null|       null|  null|null|   null| null|
|004| LN|      Lord|             null|       null|  null|null|   null| null|
|004| AD|          |             null|       null|  null|null|   null| null|
|004| PH|          |             null|       null|  null|null|   null| null|
|005| FN|     Clark|             null|       null|  null|null|   null| null|
|005| LN|          |             null|       null|  null|null|   null| null|
|005| AD|        44|     Daily Planet| Metropolis|   USA|null|   null| null|
|005| PH|1234567890|             null|       null|  null|null|   null| null|
+---+---+----------+-----------------+-----------+------+----+-------+-----+
only showing top 20 rows